In [1]:
!pipenv install pandas
!pipenv install numpy
!pipenv install matplotlib
!pipenv install sklearn
!pipenv install wrap

/bin/bash: pipenv: command not found
/bin/bash: pipenv: command not found
/bin/bash: pipenv: command not found
/bin/bash: pipenv: command not found
/bin/bash: pipenv: command not found

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import GradientBoostingClassifier
from textwrap import wrap

Data for classification http://ama.liglab.fr/data/buzz/classification/Twitter/

In [3]:
Twitter_Absolute_Sigma = pd.read_table('Twitter-Absolute-Sigma-500.data',sep=",")

In [4]:
Twitter_Absolute_Sigma

,889,939,960,805,805.1,1143,1121,549,613,587,...,1.000000.26,1.000000.27,889.2,939.2,960.2,805.4,805.5,1143.2,1121.2,1.0
0,542,473,504,626,647,795,832,366,288,318,...,1.000000,1.000000,542,473,504,626,647,795,832,1.0
1,92,99,196,100,184,79,162,66,59,118,...,1.000000,1.000000,92,99,196,100,184,79,162,0.0
2,90,87,92,344,184,848,184,83,78,76,...,1.000000,1.000000,90,87,92,344,184,848,184,1.0
3,169,98,101,90,96,95,185,141,68,85,...,1.000000,1.000000,169,98,101,90,96,95,185,1.0
4,775,765,935,806,912,1095,1198,614,588,751,...,1.000000,1.000000,775,765,935,806,912,1095,1198,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140701,1700,1386,1364,1437,1627,2040,1736,697,579,501,...,1.000490,1.000000,1700,1386,1364,1437,1627,2040,1736,1.0
140702,1280,1725,758,66,1254,1146,1353,493,527,293,...,1.211255,1.197940,1287,1735,759,67,1257,1155,1359,1.0
140703,1128,1190,1273,1250,1302,1575,1490,403,480,486,...,1.174242,1.207610,1135,1200,1284,1256,1316,1584,1498,1.0
140704,1228,1343,1999,1789,1643,1626,2582,487,506,752,...,1.185776,1.217879,1240,1352,2006,1797,1651,1631,2584,1.0
140705,1689,1468,0,1721,1699,1565,1688,618,610,0,...,1.129936,1.100945,1702,1478,0,1722,1702,1570,1694,1.0

# The data dosen't have column names.
Giving coloumn names based on data here http://ama.liglab.fr/data/buzz/classification/Twitter/Absolute_labeling/Twitter-Absolute-Sigma-500.names

Attributes explanation:

1. **Columns [0  -  6]** => Number of Created Discussions (NCD)
    <br /> This feature measures the number of discussions created at time step t and involving the instance's topic.<br /><br />
2. **Columns [7  - 13]** => Author Increase (AI)
    <br />This featurethe number of new authors interacting on the instance's topic at time t (i.e. its popularity)<br /><br />
3. **Columns [14 - 20]** => Attention Level (measured with number of authors) (AS(NA))
    <br />This feature is a measure of the attention payed to a the instance's topic on a social media.<br /><br />
4. **Columns [21 - 27]** => Burstiness Level (BL)
    <br />The burstiness level for a topic z at a time t is defined as the ratio of ncd and nad<br /><br />
5. **Columns [28 - 34]** => Number of Atomic Containers (NAC)
    <br />This feature measures the total number of atomic containers generated through the whole social media on the instance's topic until time t.<br /><br />
6. **Columns [35 - 41]** => Attention Level (measured with number of contributions) (AS(NAC))
    <br />This feature is a measure of the attention payed to a the instance's topic on a social media.<br /><br />
7. **Columns [42 - 48]** => Contribution Sparseness (CS)
    <br />This feature is a measure of spreading of contributions over discussion for the instance's topic at time t.<br /><br />
8. **Columns [49 - 55]** => Author Interaction (AT)
    <br />This feature measures the average number of authors interacting on the instance's topic within a discussion.<br /><br />
9. **Columns [56 - 62]** => Number of Authors (NA)
    <br />This feature measures the number of authors interacting on the instance's topic at time t.<br /><br />
10. **Columns [63 - 69]** => Average Discussions Length (ADL)
    <br />This feature directly measures the average length of a discussion belonging to the instance's topic.<br /><br />
11. **Columns [70 - 76]** => Average Discussions Length (NAD)
    <br />This features measures the number of discussions involving the instance's topic until time t.<br /><br />

In [5]:
Twitter_Absolute_Sigma.columns= ["NCD_0", "NCD_1", "NCD_2", "NCD_3", "NCD_4", "NCD_5", "NCD_6", "AI_0", "AI_1", "AI_2", "AI_3", "AI_4", "AI_5", "AI_6", "AS_NA_0", "AS_NA_1", "AS_NA_2", "AS_NA_3", "AS_NA_4", "AS_NA_5", "AS_NA_6", "BL_0", "BL_1", "BL_2", "BL_3", "BL_4", "BL_5", "BL_6", "NAC_0", "NAC_1", "NAC_2", "NAC_3", "NAC_4", "NAC_5", "NAC_6", "AS_NAC_0", "AS_NAC_1", "AS_NAC_2", "AS_NAC_3", "AS_NAC_4", "AS_NAC_5", "AS_NAC_6", "CS_0", "CS_1", "CS_2", "CS_3", "CS_4", "CS_5", "CS_6", "AT_0", "AT_1", "AT_2", "AT_3", "AT_4", "AT_5", "AT_6", "NA_0", "NA_1", "NA_2", "NA_3", "NA_4", "NA_5", "NA_6", "ADL_0", "ADL_1", "ADL_2", "ADL_3", "ADL_4", "ADL_5", "ADL_6", "NAD_0", "NAD_1", "NAD_2", "NAD_3", "NAD_4", "NAD_5", "NAD_6", "buzz"]

In [6]:
Twitter_Absolute_Sigma.describe()

,NCD_0,NCD_1,NCD_2,NCD_3,NCD_4,NCD_5,NCD_6,AI_0,AI_1,AI_2,...,ADL_5,ADL_6,NAD_0,NAD_1,NAD_2,NAD_3,NAD_4,NAD_5,NAD_6,buzz
count,140706.000000,140706.000000,140706.000000,140706.000000,140706.000000,140706.000000,140706.000000,140706.000000,140706.000000,140706.000000,...,140706.000000,140706.000000,140706.000000,140706.000000,140706.000000,140706.000000,140706.000000,140706.000000,140706.000000,140706.000000
mean,172.274729,155.145054,165.458829,176.816085,186.933308,216.202621,243.860276,87.046871,78.635438,84.266001,...,1.113444,1.196132,172.833717,155.625311,165.933031,177.310349,187.459405,216.769711,244.472965,0.197390
std,509.870507,471.570282,495.357468,528.350500,560.330850,632.185796,707.400841,234.729351,218.444310,233.533494,...,1.374292,1.826157,510.935798,472.459796,496.230805,529.285749,561.309068,633.201370,708.435459,0.398031
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,2.000000,3.000000,3.000000,3.000000,4.000000,5.000000,2.000000,2.000000,2.000000,...,1.000000,1.000000,3.000000,2.000000,3.000000,3.000000,3.000000,4.000000,6.000000,0.000000
50%,22.000000,19.000000,20.000000,22.000000,23.000000,28.000000,33.000000,13.000000,11.000000,13.000000,...,1.000000,1.000000,22.000000,19.000000,21.000000,22.000000,23.000000,28.000000,33.000000,0.000000
75%,125.000000,112.000000,119.000000,126.000000,133.000000,161.000000,186.000000,70.000000,64.000000,67.000000,...,1.100000,1.119048,126.000000,113.000000,119.000000,127.000000,134.000000,162.000000,187.000000,0.000000
max,24210.000000,22899.000000,20495.000000,27007.000000,30957.000000,28603.000000,37505.000000,15105.000000,15730.000000,16389.000000,...,185.666672,295.000000,24301.000000,22980.000000,20495.000000,27071.000000,31028.000000,28697.000000,37505.000000,1.000000

In [7]:
Twitter_Absolute_Sigma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140706 entries, 0 to 140705
Data columns (total 78 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   NCD_0     140706 non-null  int64
 1   NCD_1     140706 non-null  int64
 2   NCD_2     140706 non-null  int64
 3   NCD_3     140706 non-null  int64
 4   NCD_4     140706 non-null  int64
 5   NCD_5     140706 non-null  int64
 6   NCD_6     140706 non-null  int64
 7   AI_0      140706 non-null  int64
 8   AI_1      140706 non-null  int64
 9   AI_2      140706 non-null  int64
 10  AI_3      140706 non-null  int64
 11  AI_4      140706 non-null  int64
 12  AI_5      140706 non-null  int64
 13  AI_6      140706 non-null  int64
 14  AS_NA_0   140706 non-null  float64
 15  AS_NA_1   140706 non-null  float64
 16  AS_NA_2   140706 non-null  float64
 17  AS_NA_3   140706 non-null  float64
 18  AS_NA_4   140706 non-null  float64
 19  AS_NA_5   140706 non-null  float64
 20  AS_NA_6   140706 non-null  float64
 21  BL_0      140706 non-null  float64
 22  BL_1      140706 non-null  float64
 23  BL_2      140706 non-null  float64
 24  BL_3      140706 non-null  float64
 25  BL_4      140706 non-null  float64
 26  BL_5      140706 non-null  float64
 27  BL_6      140706 non-null  float64
 28  NAC_0     140706 non-null  int64
 29  NAC_1     140706 non-null  int64
 30  NAC_2     140706 non-null  int64
 31  NAC_3     140706 non-null  int64
 32  NAC_4     140706 non-null  int64
 33  NAC_5     140706 non-null  int64
 34  NAC_6     140706 non-null  int64
 35  AS_NAC_0  140706 non-null  float64
 36  AS_NAC_1  140706 non-null  float64
 37  AS_NAC_2  140706 non-null  float64
 38  AS_NAC_3  140706 non-null  float64
 39  AS_NAC_4  140706 non-null  float64
 40  AS_NAC_5  140706 non-null  float64
 41  AS_NAC_6  140706 non-null  float64
 42  CS_0      140706 non-null  float64
 43  CS_1      140706 non-null  float64
 44  CS_2      140706 non-null  float64
 45  CS_3      140706 non-null  float64
 46  CS_4      140706 non-null  float64
 47  CS_5      140706 non-null  float64
 48  CS_6      140706 non-null  float64
 49  AT_0      140706 non-null  float64
 50  AT_1      140706 non-null  float64
 51  AT_2      140706 non-null  float64
 52  AT_3      140706 non-null  float64
 53  AT_4      140706 non-null  float64
 54  AT_5      140706 non-null  float64
 55  AT_6      140706 non-null  float64
 56  NA_0      140706 non-null  int64
 57  NA_1      140706 non-null  int64
 58  NA_2      140706 non-null  int64
 59  NA_3      140706 non-null  int64
 60  NA_4      140706 non-null  int64
 61  NA_5      140706 non-null  int64
 62  NA_6      140706 non-null  int64
 63  ADL_0     140706 non-null  float64
 64  ADL_1     140706 non-null  float64
 65  ADL_2     140706 non-null  float64
 66  ADL_3     140706 non-null  float64
 67  ADL_4     140706 non-null  float64
 68  ADL_5     140706 non-null  float64
 69  ADL_6     140706 non-null  float64
 70  NAD_0     140706 non-null  int64
 71  NAD_1     140706 non-null  int64
 72  NAD_2     140706 non-null  int64
 73  NAD_3     140706 non-null  int64
 74  NAD_4     140706 non-null  int64
 75  NAD_5     140706 non-null  int64
 76  NAD_6     140706 non-null  int64
 77  buzz      140706 non-null  float64
dtypes: float64(43), int64(35)
memory usage: 83.7 MB

In [8]:
Twitter_Absolute_Sigma['buzz'] = Twitter_Absolute_Sigma['buzz'].map( {1.0: 1, 0.0: 0} ).astype(int)

In [9]:
X = Twitter_Absolute_Sigma

In [10]:
X= X.drop(['buzz'],axis = 1)
y = Twitter_Absolute_Sigma['buzz']

In [11]:
y.sum()/y.count()

0.19739030318536524

In [12]:
max(y.mean(), 1 - y.mean())

0.8026096968146348

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
Dummytrain,sample_data,Dummytrain2,sample_target = train_test_split(X, y, shuffle = True, test_size = 0.1)

In [15]:
X = sample_data
y = sample_target

In [16]:
X.shape

(14071, 77)

In [17]:
X_train_org, X_test_org, y_train, y_test = train_test_split(X, y, random_state=0)

In [18]:
from sklearn.preprocessing import MinMaxScaler

In [19]:
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train_org)
X_test = scaler.transform(X_test_org)

X_full_scaled = scaler.fit_transform(X)

# Apply Four Voting Classifiers - Hard and Soft Voting

### Classifier 1 - Logistic Regression

In [20]:
from sklearn.linear_model import LogisticRegression
logistic_classifier = LogisticRegression(solver='newton-cg',max_iter=300, C=100)
logistic_classifier.fit(X_train, y_train)

LogisticRegression(C=100, max_iter=300, solver='newton-cg')

### Classifier 2 - KNN Classifier

In [21]:
from sklearn.neighbors import KNeighborsClassifier
knn_classifier = KNeighborsClassifier(30)
knn_classifier.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=30)

### Classifier 3 - Linear SVC

In [22]:
from sklearn.svm import LinearSVC
linear_svc_classifier = LinearSVC(C=10, max_iter=20000)
linear_svc_classifier.fit(X_train, y_train)

LinearSVC(C=10, max_iter=20000)

### Classifier 4 - Decision Tree Classifier

In [23]:
from sklearn.tree import DecisionTreeClassifier
decision_tree_classifier = DecisionTreeClassifier(max_depth=3)
decision_tree_classifier.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=3)

In [24]:
classifier_scores = {}

## Voting Classifier with Hard Voting

In [25]:
from sklearn.ensemble import VotingClassifier

voting_classifier = VotingClassifier(estimators=[('logistic_classifier', logistic_classifier),('knn_classifier', knn_classifier),('decision_tree_classifier', decision_tree_classifier),('linear_svc_classifier',linear_svc_classifier)], voting='hard')
voting_classifier.fit(X_train, y_train)

from sklearn.metrics import accuracy_score
for classifier in (logistic_classifier, knn_classifier, linear_svc_classifier, decision_tree_classifier, voting_classifier):
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    score = accuracy_score(y_test, y_pred)
    print(classifier.__class__.__name__, score)
    classifier_scores[classifier.__class__.__name__+" (Hard Voting)"] = score

LogisticRegression 0.9658897100625355
KNeighborsClassifier 0.961910176236498
LinearSVC 0.966173962478681
DecisionTreeClassifier 0.9638999431495168
VotingClassifier 0.9653212052302445

## Voting Classifier with Soft Voting

In [26]:
from sklearn.ensemble import VotingClassifier

voting_classifier = VotingClassifier(estimators=[('logistic_classifier', logistic_classifier),('knn_classifier', knn_classifier),('decision_tree_classifier', decision_tree_classifier)], voting='soft')
voting_classifier.fit(X_train, y_train)

from sklearn.metrics import accuracy_score
for classifier in (logistic_classifier, knn_classifier, decision_tree_classifier, voting_classifier):
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    score =  accuracy_score(y_test, y_pred)
    print(classifier.__class__.__name__, score)
    classifier_scores[classifier.__class__.__name__+" (Soft Voting)"] = score

LogisticRegression 0.9658897100625355
KNeighborsClassifier 0.961910176236498
DecisionTreeClassifier 0.9638999431495168
VotingClassifier 0.9656054576463899

# Gradient Boosting

## Determining the best value of the parameters in gradient boosting

In [ ]:
learning_rate_list = [0.1, 0.5, 1.0]
n_estimators_list = [100, 200, 300]
max_depth_list = [1, 2, 3]
max_score = 0
best_param = {}
for learning_rate_val in learning_rate_list:
    for n_estimators_val in n_estimators_list:
        for max_depth_val in max_depth_list:
            clf = GradientBoostingClassifier(n_estimators=n_estimators_val, learning_rate=learning_rate_val, max_depth=max_depth_val, random_state=0).fit(X_train, y_train)
            score = clf.score(X_test, y_test)
            print(score)
            if score > max_score:
                max_score = score
                best_param["learning_rate"] = learning_rate_val
                best_param["n_estimators"] = n_estimators_val
                best_param["max_depth"] = max_depth_val

0.9641841955656623
0.965036952814099
0.9667424673109721
0.9647527003979534
0.966173962478681
0.966173962478681
0.9653212052302445
0.9664582148948266
0.9653212052302445
0.9641841955656623
0.9633314383172257
0.9602046617396248
0.9656054576463899
0.9627629334849346
0.9636156907333713
0.9656054576463899
0.9633314383172257
0.9610574189880614
0.9641841955656623
0.9545196134167141
0.9553723706651507
0.9653212052302445
0.9530983513359863

In [ ]:
print("Best value for n_estimators "+ str(best_param["n_estimators"]))
print("Best value for learning rate "+ str(best_param["learning_rate"]))
print("Best value for max_depth "+ str(best_param["max_depth"]))

## Based on the best parameters value determined above we fit the gradient boosting classifier

In [ ]:
gradient_boosting_clf = GradientBoostingClassifier(n_estimators=best_param["n_estimators"], learning_rate=best_param["learning_rate"], max_depth=best_param["max_depth"], random_state=0).fit(X_train, y_train)
score = gradient_boosting_clf.score(X_test, y_test)
classifier_scores["Gradient Boosting"] = score
print("Prediction score when using gradient boosting classifier "+ str(score))

# Comparing the various classifiers

In [ ]:
sorted_scores = {k: v for k, v in sorted(classifier_scores.items(), key=lambda item: item[1])}
sorted_scored = sorted_scores.items()
x, y = sorted_scores.keys(), sorted_scores.values()
fig = plt.figure()
ax = fig.add_axes([1,1,1,1])
ax.plot(x, y)
plt.xlabel('Classifier')
labels = [ '\n'.join(wrap(name, 20)) for name in classifier_scores.keys()]
ax.set_xticklabels(labels)
plt.setp(ax.get_xticklabels(), rotation=30, horizontalalignment='right')
plt.ylabel('Score')
plt.title('Scores of Different Classifiers')
plt.show()